.башка img{
    width: 100%;
    height: 10%;
}
.башка p{
    text-align: center;
    font-size: small;
}
.Anti {
    text-align: center;
}
.slogan{
    text-align: center;
    margin-top: -25px;
    
}
.list h2{
    text-align: center;
}
.ball{
margin-bottom: 15px;
padding-left: 20px;
color: #ffffff;
list-style-type:none;
text-align: center;
font-size: large;
}
.dd{
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: medium;
    color: #ffffff;
}
.main{
    margin-left: 25px;
    margin-right: 25px;
}

.cc {
    margin-left:auto;
    margin-right:6px;
    text-align:center;
    vertical-align:middle;
}

.revenant{
    background-color: #D3D3D3;
    margin: 60px;
    font-size: large;
    padding: 25px;
    border-radius: 25px;
    width: auto;
    color:black
    

}
.revenant img {
    float: none;
    margin: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;

}
@media (max-width: 500px){
    .revenant{text-align: center;}
}
.revenant img{
    margin: auto;
    float:none;
    display: block;
}
.i img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    float:none; 
    object-fit: cover;
}
.i{
    display:inline-table;
    vertical-align: top;
    width: 30%;
    margin: 0 10px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    font-size:xx-large;
}
.text{
    text-align: center;
}
@media screen and (min-width: 1440px) and (max-width: 1599px){     }
.hh {
    text-align: center;
}
.kaka {
    text-align: center;
    font-size: x-large;
    margin-bottom: -35px;
    margin-top: 55px;
}